$font-family: 'Commissioner', sans-serif;
$font-weight--normal: 400;
$font-weight--dark: 700;


$color--background: #FFFFFF;
$color__theme--primary: #3CB3AB;
$color__font--primary: black;
$color__font--secondary: #7A7A7A;
$disabled--color: #2F2F2F;
$disabled--opacity: 50%;